*
{
	box-sizing: border-box;
	padding: auto;
	margin: auto;
	text-decoration: none;
	list-style: none;
}

body
{
	background: #082337;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	display: flex;
}

header
{
	font-size: 22px;
	text-align: center;
	color: white;
	margin-top: 22px;
	font-weight: 800;
	font-family: "Palanquin", sans-serif;
}

.container
{
	width: 20%;
	height: auto;
	margin: auto;
	padding: 15px;
	background: #081232;
	border-radius: 10px;
}

input[type="text"]
{
	width: 80%;
	height: 40px;
	border-radius: 5px;
	background: #1f1f2e;
	color: white;
	padding-left: 15px;
	padding-right: 15px;
	outline: none;
	border: none;
	font-size: 15px;
}

input[type="email"]
{
	width: 80%;
	height: 40px;
	border-radius: 5px;
	background: #1f1f2e;
	color: white;
	padding-left: 15px;
	padding-right: 15px;
	outline: none;
	border: none;
	font-size: 15px;
}

input[type="password"]
{
	width: 80%;
	height: 40px;
	border-radius: 5px;
	background: #1f1f2e;
	color: white;
	padding-left: 15px;
	padding-right: 15px;
	outline: none;
	border: none;
	font-size: 15px;
}

.fa-user
{
	margin-right: 10px;
	color: white;
	font-size: 18px;
}

.fa-envelope
{
	margin-right: 10px;
	color: white;
	font-size: 18px;
}

.fa-lock
{
	margin-right: 10px;
	color: white;
	font-size: 18px;
}

button
{
	width: 100%;
	height: 50px;
	border: none;
	outline: none;
	border-radius: 10px;
	font-size: 18px;
	font-weight: 800;
	background: rgb(8, 200, 255);
	color: white;
	cursor: pointer;
	transition: all ease 0.5s;
	font-family: "Palanquin", sans-serif;
}

button:active,
button:hover
{
	background: #3a159d;
}

@media (max-width: 385px)
{
	.container
	{
		width: 75%;
	}
}